.field-label {
	display: flex;
	flex-direction: column;
	font-size: 24px;
	font-weight: 400;
	padding-top: 15px;
}

.field-input {
	padding: 10px 25px;
	font-size: 20px;
	border-radius: 15px;
	border: 1px solid #333333;
	color: #525252;
	margin-top: 5px;
	width: 75%;
}

.text {
	width: 100%;
	height: 25vh;
	min-height: 75px;
	font-size: 16px;
	resize: none;
}

.file {
	width: 100%;
	height: 10vh;
}

.field-image {
	padding: 10px 15px;
	margin-top: 5px;
	border-radius: 15px;
	border: 1px solid #333333;
	background-color: #ffffff;
}

.image-input {
	padding: 10px;
	font-size: 20px;
	color: #333333;
	margin-top: 5px;
	width: 75%;
}

.image-display {
	width: 100%;
	font-size: 16px;
}
